<div class="large-6">
	<recipe-form></recipe-form>
</div>
<div class="callout alert" data-closable="slide-out-right" ng-show="error">
	<p>
		{{ error }}
	</p>
	<p class="close" ng-click="closeError()">
		&times;
	</p>
</div>
<div ng-show="json">
	<h4>{{ json.title }}</h4>
	<p>{{ json.serves }} - {{ json.time.prep }} - {{ json.time.cook }}</p>
	<div class="row">
		<div class="large-6 columns">
			<div>
				<h5>Ingredients</h5>
				<ul>
					<li ng-repeat="ingredient in json.ingredients track by $index">{{ ingredient }}</li>
				</ul>
			</div>
			<div>
				<h5>Method</h5>
				<ul>
					<li ng-repeat="item in json.method track by $index">{{ item }}</li>
				</ul>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="img-container">
				<a ng-href="{{ json.self_url }}" class="th" target="_blank" >
					<img ng-src="{{ json.image }}" />
				</a>
			</div>
		</div>
	</div>
</div>
